<!DOCTYPE html>
<html>
  <head>
    <title>Sign in</title>

    <!-- Firebase Package-->
    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>

    <!-- Loads the login UI elements-->
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />

    <!-- JS file for Firebase-UI and credentials initialisation-->
    <script type="text/javascript" src="scripts/signin.js"></script>

  </head>
  <body>

     <div id="firebaseui-auth-container"></div>

  </body>
</html>